#content {
  padding: 1em;
}

img {
  max-width: 150px;
  height: 150px;
  margin: auto;
  padding: .20em 0 .20em 0;
}

.pin {
  text-align: center;
  border: 1px solid lightslategray;
  border-radius: 10px;
  margin: .45 em;
  padding: 1em;
}

.form {
  margin: 1em;
  padding: .5em;
  border: 1px solid lightslategray;
  border-radius: 10px;
}

// .form button {
//   display: inline-block;
//   padding: auto;
// }

a {
  color: darkslategray;
}

a:hover { 
  color: red;
  text-decoration: none;
}

