.jumbotron {
    width: 70%;
    margin: 2vw auto;
    padding: 3vw;
    border-radius: 2vw;
    background: lightcyan;
    border: .2vw double cyan;
    h1 {
        background: radial-gradient(circle at 0 30%, lightblue 20%, gold 30%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 1.3vw;
        padding: .3vw;
    }
}

a {
    cursor: pointer;
}

#startPin {
    transition: all .2s;
    &:hover{
        color: rgb(255, 249, 218);
        letter-spacing: .004em;
        box-shadow: 0 0 2vw .3vw rgb(255, 227, 68);
        animation: glow 1.5s linear infinite;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 2vw .3vw rgb(255, 227, 68);
    }
    50% {
        box-shadow: 0 0 3vw 1vw rgb(255, 227, 68), 0 0 1vw .3vw rgb(68, 255, 255);
    }
    100% {
        box-shadow: 0 0 2vw .3vw rgb(255, 227, 68);
    }
}