<div class="form">
  <input class="form-control form-control-lg" type="text" placeholder="Title" ng-model="pin.title">
    <br>
  <input class="form-control" type="text" placeholder="Add your image URL" ng-model="pin.img">
    <br>
  <div class="form-group">
      <label for="exampleFormControlTextarea1">Pin Notes:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ng-model="pin.notes"></textarea>
  </div>
    <br>
  <select class="custom-select" ng-model="pin.board_id" ng-options="board.board_id as board.title for board in userBoards"></select>
    <br>
    <br>
    <button type="button" class="btn btn-outline-danger" ng-click="addPin()">Add My Pin</button>
</div>