<nav class="navbar navbar-light" style="background-color:whitesmoke;" ng-controller="UserCtrl">
        <a class="navbar-brand" href="#">{ clearly {vague} }</a>
        <!-- <p id="navbar-item">By USERNAME</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" ng-repeat="link in navMenuList">
            <div ng-hide="isLoggedIn() ? link.hideWhenLoggedIn : !link.hideWhenLoggedIn">
                <a class="nav-item nav-link" ng-click="navigate(link.url)">{{link.text}}</a>
            </div>
          </div>
        </div>
</nav>