<h2>My Boards</h2>
<div class="container">
        <div class="row">
            <div class="col-3 pin" ng-repeat='board in boards'>
                <h4><a href="#!/boards/{{board.board_id}}">{{board.title}}</a></h3>
                    <img ng-show="board.img !== undefined" src="{{board.img}}" alt="{{board.title}}">
                    <button type="button" ng-click="deleteBoard(board.board_id)" class="btn btn-outline-danger btn btn-primary btn-sm">Delete</button>
            </div>
        </div>
    </div>